# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DeveloperSystem\Learning-Python-3-with-Professor-Gustavo-Guanabara\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
